inframe{
    width: 100%;
}
.caja{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    text-align: center;
}
.caja_informacion{
    color: white;
    background-color: orange;
}
.caja_imagen{
    width: 350px;
    height: 350px;
    text-align: center;
}
.caja_fondo{
    background-color: red;
    font-family: Arial;
    text-align: center;
    text-decoration: none;
    width: 50;
    margin: 10px 10px;
    padding: 10px 10px;
    color: white;
}
.caja_boton{
    font-family: Arial;
    font-size: 12;
    text-align: center;
    text-decoration: none;
    width: 50;
    margin: 50px 50px;
    padding: 0px 0px ;
    color: white;
    background-color: black;
}